@tailwind base;
@tailwind components;
@tailwind utilities;

.twemoji > img {
  @apply m-0 w-auto h-auto !important;
}

pre.hljs {
  overflow-y: auto;
  max-height: 350px;
  font-size: 0.75em;
  letter-spacing: normal;
  line-height: 1.5;
}
